templates/oc/OCTemplate.xcworkspace/
templates/oc/OCTemplate/FGViewControllerFactory.h
templates/oc/Podfile.lock
templates/oc/OCTemplate.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
.idea
.idea/
*/.DS_Store
*/.idea
*.pyc
dist/
